.pick-film {
  //background-color: red;
  display: flex;
  line-height: 0 !important;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  .ant-card-body {
    padding: 0 !important;
  }
  .pick-film-search {
    width: 400px;
  }
  .cards {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  .titel-film {
    font-size: 12px;
    font-weight: bold;
    padding: 0 12px;
  }
}

.pick_seat {
  //line-height: 0 !important;
  .products {
    .header_text {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-weight: 700;
        color: black;
      }
    }
    .product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
      .block_top {
        display: flex;
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 1rem;
      }
      .product_name {
        p:first-child {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.8);
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
      .product_number {
        span {
        }
        input {
        }
      }
      p {
      }
    }
  }
  .blocks-remine {
    margin-right: 12px;
    .blocks-remine {
      display: flex;
      align-items: center;
      .block-remine_block {
        width: 20px;
        height: 20px;
        //background-color: red;
        cursor: pointer;
      }
      .blocks-remine_text {
        margin-left: 12px;
      }
    }
  }
  .booking_content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    padding: 12px;
    // height: 100%;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
    .booking_content-top {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 4px;
      }
      h3 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 12px;
      }
    }
    .booking_content-bottom {
      margin-top: 1rem;
      p {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
        font-size: 12px;
        span {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.5);
          margin-left: 4px;
        }
        .total_price {
          font-size: 20px;
          color: green;
        }
      }
    }
  }
}
.pick-shows {
  padding: 1rem;
  h3 {
    span {
    }
  }
  .date-pick {
    display: flex;
    align-items: center;
    .active {
      border: 1px solid #cd104d !important;
      .span-01 {
        background-color: #cd104d !important;
        color: white !important;
      }
      .span-02 {
        color: #cd104d;
      }
    }
    .block-date {
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 50px;

      border-radius: 8px;
      cursor: pointer;
      &:hover {
        border: 1px solid #cd104d !important;
        .span-01 {
          background-color: #cd104d !important;
          color: white !important;
        }
        .span-02 {
          color: #cd104d;
        }
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .span-01 {
        height: 80%;
        width: 100%;
        background-color: #d6d2c4;
        padding: 8px 0;
        font-weight: bold;
        font-size: 16px;
        color: black;
      }
      .span-02 {
        height: 20%;
        font-size: 10px;
        padding: 4px 0;
      }
    }
  }
  .time-pick {
    margin: 1.5rem 0;
    display: flex;
    align-items: flex-start;
    .film-iamge {
      width: 200px;
      height: 250px;
      margin-right: 1.5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .times {
      display: flex;
      flex-wrap: wrap;
      .time {
        color: black;
        width: 60px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-right: 12px;
        margin-bottom: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        &:hover {
          background-color: #cd104d;
          color: white;
        }
      }
    }
  }
}

.ant-steps-item-title {
  font-size: 14px !important;
}

.products_list {
  height: 350px;
  margin-top: 1.2rem;
  overflow-y: auto;
}
// .products_list::-webkit-scrollbar {
//   width: 6px;
//   background-color: #F5F5F5;
// }
// .products_list::-webkit-scrollbar-thumb {
//   background-color: #000000;
// }
// .products_list::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   background-color: #F5F5F5;
//   padding-right: 0.5rem;
// }

.products_list::-webkit-scrollbar {
  width: 4px;
  display: none;
}

.products_list::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.products_list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.total_price {
  font-weight: 700;
  text-align: right;
  color: black;
  span {
    color: green;
    font-size: 18px;
  }
}

.pay_style {
  .booking_content {
    padding: 0 !important;
  }
  .block_details {
    margin-left: 25%;
    .block_discount{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-end;
      .color_text{
        color: green;
      }
    }
    .block_money {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      span {
        width: 30%;
        text-align: right;
      }
    }
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .total_text_final {
        font-weight: 700;
      }
      .total_price_final {
        color: green;
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
}

.search_results {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem 0 0rem 0;

  margin: 0 !important;
  position: absolute;
  z-index: 10;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
  .search_result {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    // padding-top: 8px;
    padding-right: 8px;
    line-height: 24px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
// .ant-tag, .ant-tag-has-color{
//   background-color: greenyellow !important;
//  // color: white !important;
// }