@font-face {
  font-family: "Telidon";
  src: local("Telidon Hv Italic"),
  url("./Telidon Hv Italic.ttf") format("truetype");
  font-weight: bold;
}

.info {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.print {
  font-family: "Telidon";
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-top: 2px;
}

.print-content {
  font-family: "Telidon";
  font-size: 6px;
  color: #111010;
  text-align: center;
  margin-Left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.content-body {
  color: #000;
  font-size: 7px;
  font-weight: bold;
}